<!DOCTYPE html>
<html lang="en">
  <head>
    <title>WeWorkData</title>

    <!-- Basic Page Needs
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <meta name="description" content="weworkdata">
    <meta name="author" content="weworkdata">
    <link rel="shortcut icon" type="image/png" href="static/favicon.png"/>
    <meta name="keywords" content="weworkdata, data science jobs, data science, work in data science, big data jobs, haddoop jobs, mapreduce jobs, data jobs, weworkdata jobboard, data jobboard, kristiankyvik">

    <!-- Mobile Specific Metas
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/skeleton.css">
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="/static/css/react-select.min.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <!-- Favicon
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="icon" type="image/png" href="images/favicon.ico">
  </head>
  <body>
    <div id="app"></div>
    <script src="/static/js/index.js"></script>
    <script src="https://use.typekit.net/vvk2ima.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
  </body>
</html>

